# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. ggplot
4. keras

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| Apache Hadoop |
| Sickit-learn |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
mins =200
hrs = mins/60
hrs

3.3333333333333335

**Objectives :**

1. List popular languages for Data Science
2. commonly used libraries
3. evaluating arithmetic expressions in Python

## Author 
Talha Asif